doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title JBake
    link #{config.site_host}
    atom:link(href='#{config.site_host}/feed.xml', rel="self", type='application/rss+xml')
    description JBake Bootstrap Template
    language en-gb
    pubDate #{formatter.format(published_date,"EEE, d MMM yyyy HH:mm:ss Z")}
    if posts.length
      lastBuildDate #{formatter.format(published_date,"EEE, d MMM yyyy HH:mm:ss Z")}
    each post in posts
      item
        title #{post.title}
        link http://jbake.org#{post.uri}
        description #{post.body}
        pubDate #{formatter.format(post.date, "EEE, d MMM yyyy HH:mm:ss Z")}
        guid(isPermaLink='false') #{post.uri}


